.form {
  .accountWrapper {
    position: relative;
    margin-top: 20px;

    .loginAccountInput {
      width:100%;
      height: 56px;
      --ant-input-input-font-size: 18px;
      /* :global(.ant-input) {
        height: 44px;
      } */
    }

    &:focus-within:has(input:placeholder-shown)::before {
      content: '账号';
      position: absolute;
      top: -10px;
      left: 16px;
      background-color: #FAFAFA;
      padding: 0 4px;
      font-size: 14px;
      color: #424242;
      z-index: 10;
      pointer-events: none;
    }
  }

  .passwordWrapper {
    position: relative;
    margin-top: 20px;

    .loginPasswordInput {
      width:100%;
      height: 56px;
      --ant-input-input-font-size: 18px;
      /* :global(.ant-input) {
        height: 44px;
      } */
    }

    &:focus-within:has(input:placeholder-shown)::before {
      content: '密码';
      position: absolute;
      top: -10px;
      left: 16px;
      background-color: #FAFAFA;
      padding: 0 4px;
      font-size: 14px;
      color: #424242;
      z-index: 10;
      pointer-events: none;
    }
  }

  .forgetPassword {
    margin: 16px 0;
    float: right;
    color: #424242;
    cursor: default;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  width: 380px;
  height: 56px;
  background: #38818D;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
