.container {
  width: 100%;

  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card {
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center; */
    padding: 18px 20px 18px 20px;
    background: rgba(231, 245, 248, 0.22);
    border: 2px solid #D8E0E2;
    border-radius: 10px;
    transition: all 0.3s;
    .questionnaireTop{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .svgAndText{
        display: flex;
        align-items: flex-end;
        .text{
          margin-left: 18px;
          font-size: 20px;
          color: #2F5A61;
        }
        /* align-items: center;
        gap: 8px; */
      }
      /* align-items: center; */
      /* gap: 12px; */
       .days{
      font-weight: normal;
      font-size: 17px;
      color: #848484;
    }
    }
    .line{
      width: 100%;
      height: 1px;
      background: #E7F5F8;
      margin-top: 12px;
    }

    &:hover {
      /* border-color: var(--primary); */
    }
  }
}
